USE [master]
GO
/****** Object:  Database [SENDA_Raul]    Script Date: 14/10/2017 05:12:49 a. m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SENDA_Raul')
BEGIN
CREATE DATABASE [SENDA_Raul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SENDA_Raul', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SENDA_Raul.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SENDA_Raul_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SENDA_Raul_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SENDA_Raul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SENDA_Raul]
GO
/****** Object:  Table [dbo].[CamionS]    Script Date: 14/10/2017 05:12:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CamionS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CamionS](
	[IdCamion] [uniqueidentifier] NULL,
	[Modelo] [varchar](50) NULL,
	[placas] [uniqueidentifier] NULL,
	[status] [varchar](1) NULL,
	[numAsientos] [int] NULL,
	[clase] [varchar](40) NULL,
	[IdChofer] [uniqueidentifier] NULL,
	[numCamion] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[destino]    Script Date: 14/10/2017 05:12:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[destino]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[destino](
	[IdSucursal] [uniqueidentifier] NULL,
	[IdDestino] [uniqueidentifier] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[origen]    Script Date: 14/10/2017 05:12:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[origen]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[origen](
	[IdSucursal] [uniqueidentifier] NULL,
	[IdOrigen] [uniqueidentifier] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[pasagero]    Script Date: 14/10/2017 05:12:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pasagero]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[pasagero](
	[IdPasajero] [uniqueidentifier] NULL,
	[nombre] [varchar](40) NULL,
	[apellidos] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rutaSENDA]    Script Date: 14/10/2017 05:12:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rutaSENDA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[rutaSENDA](
	[IdRuta] [uniqueidentifier] NULL,
	[IdOrigen] [uniqueidentifier] NULL,
	[IdDestino] [uniqueidentifier] NULL
) ON [PRIMARY]
END
GO
USE [master]
GO
