USE [master]
GO
/****** Object:  Database [SENDA]    Script Date: 02/09/2017 09:52:25 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SENDA')
BEGIN
CREATE DATABASE [SENDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SENDA', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SENDA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SENDA_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SENDA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SENDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SENDA]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 02/09/2017 09:52:25 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alumnos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
